<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <<% if (pagename =="Home")%>
                        <a class="nav-link" style="color:thistle" href="/">Home</a>
                    <%esle{%>
                        <a class="nav-link" href="/">Home</a>
                        <%}%>
                </li>
                <li class="nav-item">
                    <% if (pagename =="About")%>
                        <a class="nav-link" style="color:thistle" href="/a">About</a>
                    <%esle{%>
                        <a class="nav-link" href="/about">About</a>
                        <%}%>
                </li>
                <li class="nav-item">
                    <% if (pagename =="Contact")%>
                        <a class="nav-link" style="color:thistle" href="/c">Contact</a>
                    <%esle{%>
                        <a class="nav-link" href="/contact">Contact</a>
                        <%}%>
                        <%if(typeof(sess)!="undefined"&&sess.logged==true){
                            <a class="nav-link" style="color:thistle" href="/profile">Profile</a>
                            <a class="nav-link" style="color:thistle" href="/logout">Logout</a>
                            %>}%>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

<div style="z-index: 999; 
display: block; 
text-align: right; 
margin-right: 0px; 
padding-right: 20px; 
position: absolute; 
width: 155px; 
margin-top: 4px; 
padding-top: 5px;
right: 0;
border-radius: 10px;
padding: 11px;
font-size: 12px;">
    <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email"/>
        <input type="password" name="password" placeholder="password"/>
        <input type="submit"/>
    </form>
</div>
<%if(typeof(error) !="undefined"){%>
    <%for(x in errors){%>
        <br><span><%errors[x]%></span>
    <%}%>
<%}%>

 